:root {
    --Moderateviolet: hsl(263, 55%, 52%);
    --Verydarkgrayishblue: hsl(217, 19%, 35%);
    --Verydarkblackishblue: hsl(219, 29%, 14%);
    --Lightgray: hsl(0, 0%, 81%);
    --Lightgrayishblue: hsl(210, 46%, 95%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: var(--Lightgrayishblue);
}

main {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        'card1'
        'card2'
        'card3'
        'card4'
        'card5';
    place-content: center;
}

.card {
    background-color: var(--White);
    box-shadow: 1px 12px 10px var(--Lightgrayishblue);
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.card1 {
    grid-area: card1;
    background-color: var(--Moderateviolet);
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
.card4 {
    grid-area: card4;
}
.card5 {
    grid-area: card5;
}

.people {
    display: flex;
}

img {
    border-radius: 50%;
}

.card--name {
    font-size: 1rem;
    font-weight: 600;
}

.card--status {
    font-size: 1rem;
    font-weight: 500;
}

.card--review {

}

footer { 
    font-size: 11px; text-align: center; 
}

a { 
    color: hsl(228, 45%, 44%); 

}

