:root {
    --Moderateviolet: hsl(263, 55%, 52%);
    --Verydarkgrayishblue: hsl(217, 19%, 35%);
    --Verydarkblackishblue: hsl(219, 29%, 14%);
    --Lightgray: hsl(0, 0%, 81%);
    --Lightgrayishblue: hsl(210, 46%, 95%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

